{{ template "inc/header.tmpl" . }}

<table>
<tbody>
<tr>
	<th>Language</th>
	<th>Skill level</th>
</tr>
{{ range $i, $language := .Languages }}
<tr>
	<td>{{ $language.Language.Name }}</td>
	<td>{{ $language.Skill }}</td>
</tr>
{{ end }}
</tbody>
</table>

{{ if .IsEdit }}
<h2>Add New Language</h2>
{{ pfform .UI .LanguageForm . true }}
{{ end }}

{{ template "inc/footer.tmpl" . }}
