{{template "inc/header.tmpl" .}}

	<p>
		This page allows you to change your password.
	</p>

	{{ csrf_form .UI "" }}
		<fieldset>
		<ul>
		<li>
		<label for="username">Username:</label>
		<input type="text" name="username" value="{{ .TheUser.GetUserName }}" readonly disabled></input>
		<span class="form_hint">Your username</span>
		</li>

		<li>
		<label for="passwordC">Current password:</label>
		<input type="password" name="passwordC" required pattern=".{{"{"}}{{ .PWLenMin }},{{ .PWLenMax }}}" />
		<span class="form_hint">Your current password</span>
		</li>

		<li>
		<label for="password1">New password:</label>
		<input type="password" name="password1" required pattern=".{{"{"}}{{ .PWLenMin }},{{ .PWLenMax }}}" />
		<span class="form_hint">The new password you want (min: {{ .PWLenMin }}{{ if ne .PWLenMax "" }}, max: {{ .PWLenMax }}{{ end }})</span>
		</li>

		<li>
		<label for="password2">Repeat new password:</label>
		<input type="password" name="password2" required pattern=".{{"{"}}{{ .PWLenMin }},{{ .PWLenMax }}}" />
		<span class="form_hint">Repeat the new password again</span>
		</li>

		<li class="required">
		<label for="required">&nbsp;</label>
		<span>
			Denotes required field
		</span>
		</li>

		{{ if .PWRules }}<li class="info">
		<label for="notice">&nbsp;</label>
		<span>
			{{ .PWRules }}
		</span>
		</li>{{ end }}

		<li>
		<label for="button"></label>
		<input type="submit" name="button" value="Change Password" />
		</li>

		{{ if .Message }}<li class="okay"><label>&nbsp;</label>{{ .Message }}</li>{{ end }}
		{{ if .Error }}<li class="error"><label>&nbsp;</label>{{ .Error }}</li>{{ end }}

		</ul>
		</fieldset>
	</form>

{{template "inc/footer.tmpl" .}}
