{{template "inc/header.tmpl" .}}

	<p>
		Following is a list of the member of the <b>{{ .GroupName }}</b> group's <b>{{ .ML.ListName }}</b> Mailing List.
	</p>

{{template "inc/search.tmpl" .}}

	<table>
	<tr>
		<th>Image</th>
		<th>Username</th>
		<th>Full name</th>
		<th>Affiliation</th>
{{ if .Admin }}	<th>Operations</th>
{{ end }}
	</tr>
	{{range $i, $user := .Members}}
	<tr>
		<td>{{ user_image_link $.UI $user.GetUserName $user.GetFullName "" }}</td>
		<td>{{ group_home_link $.UI $.GroupName $user.GetUserName $user.GetUserName }}</td>
		<td>{{ $user.GetFullName }}</td>
		<td>{{ $user.GetAffiliation }}</td>
		{{ if $.Admin }}
		<td>
			{{ csrf_form $.UI (print "/group/" $.ML.GroupName "/ml/" $.ML.ListName "/unsubscribe") }}
 				<fieldset>
                                        <ul>
                                                <li>
                                                        <input type="hidden" name="groupname" value="{{ $.ML.GroupName }}" />
                                                        <input type="hidden" name="ml" value="{{ $.ML.ListName }}" />
                                                        <input type="hidden" name="username" value="{{ $user.GetUserName }}" />
                                                        <input type="hidden" name="action" value="unsubscribe" />
                                                        <input id="button" type="submit" name="button" value="Unsubscribe" />
                                                </li>
                                        </ul>
                                </fieldset>
			</form>
		</td>
		{{ end }}
	</tr>
	{{end}}</table>

{{template "inc/pager.tmpl" .}}

{{template "inc/footer.tmpl" .}}
