debian/pitchfork/
debian/pitchfork-data/
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
ext/*
*.swp
share/webroot/css/epiceditor
share/webroot/js/epiceditor.min.js
coverage.out
lib/coverage*
lib_coverage*

# Test environment and build artifacts
bin/
test/config/
test/var/
