form#wikiform textarea#wikitext
{
	font-family		: monospace;
	width			: 80%;
	clear			: both;
	height			: 20em;
}

form#wikiform label
{
	width			: initial;
}

form#wikiform label
{
	float			: none;
	clear			: both;
	padding-top		: 10px;
}

form#wikiform.styled_form
{
	width			: initial;
	float			: none;
}

form#wikiform input#message
{
	margin-right		: 10px;
}

span#wikisecurity
{
	font-size		: small;
	clear			: both;
	width			: 100%;
	margin-bottom		: 50px;
}

div.wikitoc
{
	float			: right;
	border			: 1px solid #aaaaaa;
	background-color	: #eeeeee;
	margin-top		: 4em;
	font-size		: small;
}

div.wikitoc b
{
	background-color	: #8a849c;
	padding-left		: 10px;
	padding-right		: 10px;
	padding-top		: 5px;
	padding-bottom		: 10px;
}

div.wikitoc ul
{
	padding-left		: 10px;
	margin-bottom		: 5px;
}

div.wikitoc ul li
{
       	list-style-type		: none;
}

div.wikitoc ul li ul
{
	padding-left		: 1.5em;
}

div.wikitoc ul li ul li
{
       	list-style-type		: initial;
}

div#wikiedit
{
	text-align		: center;
}

div#wikiedit > div
{
	width			: 47%;
	float			: left;
	padding			: 10px;
	min-height		: 400px;
	border-left		: 2px solid #eeeeee;
	border-right		: 2px solid #eeeeee;
	border-bottom		: 2px solid #eeeeee;
}

div#wikiedit > div > h2
{
	background-color	: #8a849c;
	padding			: 4px;
	margin			: 5px;
}

div#wikiedit > div > div#tools button
{
	min-width		: 42px;
	height			: 25px;
	margin-right		: 5px;
}

div#wikiedit > div > div#tools button#tool-bold
{
	font-weight		: bold;
}

div#wikiedit > div > div#tools button#tool-italic
{
	font-style		: italic;
}

div#wikiedit > div > div#tools button#tool-quote, div#wikiedit > div > div#tools button#tool-code
{
	font-family		: monospace;
}

div#wikiedit > div > div#tools button#tool-h1, div#wikiedit > div > div#tools button#tool-h2, div#wikiedit > div > div#tools button#tool-h3, div#wikiedit > div > div#tools button#tool-h4
{
	font-weight		: bold;
}

div#wikiedit > div > div#epiceditor, div#wikiedit > div > div#epiceditor-preview
{
	min-height		: 400px;
	text-align		: initial;
}

div.lastedit
{
	clear			: both;
	border-top		: 1px solid #eeeeee;
	font-size		: small;
}

div.lastedit img.userimage
{
	max-height		: 1.5em;
}

