{{template "inc/header.tmpl" .}}

<p>
	Welcome to the Trident Well Known API for {{ .SysName }}.
</p>

<p>
	When enabled this provides WebFinger support for OAuth 2.0 / OpenID Connect Discovery.
</p>

{{template "inc/footer.tmpl" .}}
