Source: pitchfork
Section: net
Priority: optional
Maintainer: Trident Project <project@trident.li>
Uploaders: Trident Project <project@trident.li>
Build-Depends: debhelper (>> 9),
               dh-golang,
               dh-systemd,
               golang-go (>> 1.5.1),
               git,
               ca-certificates
Standards-Version: 3.9.6
Homepage: https://trident.li
Vcs-Browser: https://github.com/tridentli/pitchfork
Vcs-Git: git://github.com/tridentli/pitchfork.git

Package: pitchfork-data
Architecture: all
Description: Pitchfork - Trident Framework
 This is Pitchfork - a Golang framework for secure communication suites.
 .
 This package installs the data required for pitchfork.
 .
 For more information about Trident please see https://trident.li
