{{template "inc/header.tmpl" .}}
{{template "inc/search.tmpl" .}}

	{{ $this := . }}
	{{ $isadmin := .IsAdmin }}
	{{ $group := .Group }}

	<table>
	<thead>
	<tr>
		<th>Image</th>
		<th>Username</th>
		<th>Full name</th>
		<th>Email</th>
		<th>Affiliation</th>
		<th>Admin</th>
		<th>Status</th>
		<th>Activity</th>
		{{ if $isadmin }}
		<th>Actions</th>
		{{ end }}
	</tr>
	</thead>
	<tbody>{{ $ui := .UI }}{{ range $i, $grmember := .Members }}
	<tr>
		<td>{{ user_image_link $ui $grmember.GetUserName $grmember.GetFullName "" }}</td>
		<td>{{ group_home_link $ui $group.GetGroupName $grmember.GetUserName $grmember.GetUserName }}</td>
		<td>{{ $grmember.GetFullName }}</td>
		<td><a href="mailto:{{ $grmember.GetEmail }}">{{ $grmember.GetEmail }}</a>{{ if $grmember.HasPGP }}<span title="Member has a PGP key">&psi;</span>{{ end }}</td>
		<td>{{ $grmember.GetAffiliation }}</td>
		<td>{{ $grmember.GetGroupAdmin }}</td>
		<td>{{ $grmember.GetGroupState }}</td>
		<td>{{ $grmember.GetActivity }}d</td>
		{{ if $isadmin }}
		<td>
			{{ template "group/member_cmd.tmpl" dict "This" $this "UI" $ui "GroupMember" $grmember "Group" $group }}
		</td>
		{{ end }}
	</tr>
	{{ end }}</tbody></table>

	<p>
		&psi; = has PGP key
	</p>

{{template "inc/pager.tmpl" .}}

{{template "inc/footer.tmpl" .}}
