{{template "inc/header.tmpl" .}}

	<p>
		The following is a list of your email addresses.
	</p>

	<table>
	<thead>
	<tr>
		<th>Email address</th>
		<th>PGP</th>
		<th>Verify</th>
		<th>Recovery</th>
		<th>Groups</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	{{ $ui := .UI }}{{ $recemail := .RecoveryEmail }}{{ range $id, $obj := .EmList }}
	<tr>
		<td>{{ $obj.Email }}</td>
		<td>{{ if $obj.PgpKeyID }}
			<table>
				<tr><th>Key ID:</th><td>{{ $obj.PgpKeyID }}</td></tr>
				<tr><th>Expires:</th><td>{{ fmt_time $obj.PgpKeyExpire }}</td></tr>
				<tr><th>Download:</th><td><a href="{{ $obj.Email }}/download">{{ $obj.PgpKeyID }}.asc</a></td></tr>
			</table>
			{{ else }}
				Not defined
			{{ end }}
		</td>
		<td>{{ if $obj.Verified }}
				Verified
			{{ else }}
				{{ if $obj.VerifyCode }}
				In Process
				{{ else }}
				Unverified
				{{ end }}
			{{end}}
		</td><td>
			<input type="checkbox"{{ if eq $obj.Email $recemail }} checked="checked"{{ end }} disabled="disabled" />
		</td><td>
			<table>
			{{ range $id, $grp := $obj.Groups }}
				<tr><td><a href="/group/{{ $grp.GroupName }}/">{{ $grp.GroupName }}</a></td><td>{{ $grp.GroupDesc }}</td>
			{{ end }}
			</table>
		</td><td>
			{{ csrf_form $ui (print $obj.Email "/") }}
				<input type="hidden" name="id" value="{{ $id }}" />
				<input type="submit" name="button" value="Edit" />
			</form>
		</td>
	</tr>
	{{ end }}
	</tbody>
	</table>

	<h2>Add a new email address</h2>

	{{ pfform .UI .Add .Add true }}

	<h2>Groups</h2>
	{{ $len := len .VEmails }}{{ if eq $len 0 }}
	<p>
		You currently do not have any groups.
	</p>
	{{ else }}

	<p>
		The following is a list of your groups with associated email addresses.
	</p>

	<table>
	<thead>
	<tr>
		<th>Group</th>
		<th>Description</th>
		<th>State</th>
		<th>Email Address</th>
	</tr>
	</thead>
	<tbody>
	{{ range $id, $obj := .VEmails }}
	<tr>
		<td><a href="/group/{{ $obj.GroupName }}/">{{ $obj.GroupName }}</a></td>
		<td>{{ $obj.GroupDesc }}</td>
		<td>{{ $obj.GroupState }}</td>
		<td>
			{{ pfform $ui $obj $obj true }}
		</td>
	</tr>
	{{ end }}
	</tbody>
	</table>
	{{ end }}

{{ template "inc/footer.tmpl" .}}
