<script type="text/javascript" src="/js/Duo-Web-v2.js"></script>
<link rel="stylesheet" type="text/css" href="Duo-Frame.css">
<iframe id="duo_iframe"
    data-host="<?php echo HOST; ?>"
    data-sig-request="<?php echo $sig_request; ?>"
></iframe>
