<script type="text/javascript" src="/js/Duo-Web-v2.min.js"></script>
<link rel="stylesheet" type="text/css" href="Duo-Frame.css">
<iframe id="duo_iframe"
    data-host="{{ .Duo.Host }}"
    data-sig-request="{{ .Duo.SignRequest}}"
></iframe>
